body {
    /* flex: none;
    display: block; */
}

.mid-center {
    margin-left: 5%;
    margin-right: 5%;
    background-color: white; 
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.card{
    margin-top: 3%;
    margin-bottom: 10%;
    background-color: white;
    border: 5px solid rgb(45,45,112);
    box-shadow: 1px 1px 10px rgb(45,45,112);
    border-radius: 40px;
    z-index: 100;
    width: 700px;
    min-width: 700px;;
    min-height: 700px;
    position: relative;
    align-items: center;
    overflow: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
}

.pictures{
    margin: 5%;
    margin-top: 3%;
    margin-bottom: 10%;
    background-color: white;
    border: 5px solid rgb(45,45,112);
    box-shadow: 1px 1px 10px rgb(45,45,112);
    border-radius: 40px;
    z-index: 100;
    width: 400px;
    min-width: 400px;
    min-height: 700px;
    max-height: 800px;
    position: relative;
    align-items: center;
    overflow: auto;
}

.video, canvas {
    margin-top: 5%;
    margin-bottom: 5%;
    border: 5px solid rgb(45,45,112);
    box-shadow: 1px 1px 10px rgb(45,45,112);
    border-radius: 5px;
    width: 500px;
    height: 375px;
}

.div_filters {
    width: 400px;
    min-height: 5%;
    border-radius: 5px;
    display: flex;
    justify-content: space-around;
    border: 3px solid rgb(45,45,112);
    box-shadow: 1px 1px 10px rgb(45,45,112);

}

.filter_and_input {
    
    width: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.filter {
    background-size:100px 100px;
    min-height: 100px;
    min-width: 50%;
}

.filter_input {
    margin: auto;
}

.div_buttons{
    margin: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.startbutton_disable {
    cursor: default;
    filter: opacity(30%);
}

.startbutton_enable {
    cursor: pointer;
    filter: none;
}

.uploadbutton {
    margin: auto;
    margin-bottom: 20px;
    color: black;
}

.picture_history {
    text-align: right;
    margin: auto;
    margin-bottom: 25px;
    margin-top: 25px;
    width: 350px;
    height: 300px;
    box-shadow: 0px 0px 10px grey;
}

.picture_background {
    width: 300px;
    min-height: 225px;
    background-size: cover;
    margin: auto
}

i {
    color: red;
}

.preview_1 {
    display: none;
    position: relative;
}
.preview_2 {
    display: none;
    position: relative;
}
.preview_3 {
    display: none;
    position: relative;
}

.preview_1 {
    bottom: 450px;
    left: 150px;
    -webkit-transform: scale(1.5); /* Saf3.1+, Chrome */
    -moz-transform: scale(1.5); /* FF3.5+ */
     -ms-transform: scale(1.5); /* IE9 */
      -o-transform: scale(1.5); /* Opera 10.5+ */
         transform: scale(1.5);
}

.preview_2 {
    bottom: 402px;
    left: 99px;
    -webkit-transform: scale(0.4); /* Saf3.1+, Chrome */
    -moz-transform: scale(0.4); /* FF3.5+ */
     -ms-transform: scale(0.4); /* IE9 */
      -o-transform: scale(0.4); /* Opera 10.5+ */
         transform: scale(0.4);
}

.preview_3 {
    bottom: 410px;
    left: 5px;
    width: 500px;
    height: 375px;
}

.webcam {
    max-height: 425px;
}

.video {
    transform: rotateY(180deg);
    -webkit-transform:rotateY(180deg); /* Safari and Chrome */
    -moz-transform:rotateY(180deg); /* Firefox */
}