#mid {
    flex: none;
    min-height: 78%;
}

.card{
    margin-top: 3%;
    margin-bottom: 10%;
    background-color: rgb(45,45,112);
    border: 5px solid rgb(45,45,112);
    box-shadow: 1px 1px 10px rgb(45,45,112);
    border-radius: 40px;
    z-index: 100;
    width: 50%;
    min-width: 345px;
    position: relative;
    align-items: center;
    overflow: auto;
}

.card-error {
    animation: myfirst 2s;
}

@keyframes myfirst {
    0%   {background-color:red;}
    100% {background-color: rgb(45,45,112);}
}


#submit-button {
    background-color: rgb(45,45,112);
    height: 10%;
    font-size: 50px;
    width: 75%;
}

#submit-button:hover {
    cursor: pointer;
}

#submit-div {
    border: 5px solid yellow;
    border-radius: 40px;
    box-shadow: 2px 1px 4px orangered;
    width: 50%;
    margin-left: 23%;
    margin-right: 23%;
}

#lost-pw-txt {
    font-size: 30px;
}

.card div {
    margin: 5px;
}

.card p {
    margin-bottom: 0;
    margin-top: 0;
    color: red;
    text-shadow: none;
}

.post_card {
    padding: 20px;
    margin: 50px;
    width: 80%;
    background-color: white;
    border: 5px solid rgb(45,45,112);
    box-shadow: 1px 1px 10px rgb(45,45,112);
    border-radius: 40px;
    display: flex;
    flex-wrap: wrap;
}

.picture {
    box-shadow: 0 0 10px grey;
    margin: auto;
    width: 700px;
    height: 700px;
    background-image: url("ressources/pipi.jpg");
    background-size: contain;
    background-repeat: no-repeat;
}

.text {
    margin: auto;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: rgb(45,45,112);
    max-height: 60%;
    box-shadow: 1px 1px 10px rgb(45,45,112);
}

.info {
    margin: 2.5%;
    padding: 10px;
    background-color: white;
    min-height: 70px;
}

.commentaries_area {
    margin: 2.5%;
    background-color: white;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: yellow;
}

.com {
    margin: 1%;
    padding: 20px;
    flex-direction: column;
    background-color: white;
    justify-content: space-around;
    border: 1px inset grey;
}

.com_author {
    margin: auto;
    border-bottom: 1px solid white;
    font-family: Solar_Bold;
    color: yellow;
    text-shadow: 2px 1px 1px orangered; 
    font-size: 25px;
    width: 90%;
    text-align: center;
}

.com_txt {
    width: 90%;
    margin: auto;
    overflow-wrap: break-word;
    hyphens: auto;
}

.login {
    margin: 2.5%;
    margin-bottom: 0;
    font-family: Solar_Bold;
    color: yellow;
    text-shadow: 2px 1px 1px orangered;
    text-decoration: none;
    min-height: 1.5vw;
    font-size: 30px;
    width: 100%;
    text-align: center;
}

.date {
    text-align: right;
    width: 90%;
    margin: auto;
    color: grey;
}

.com_input_div {
    margin: 2.5%;
    padding: 10px;
    background-color: white;
    display: flex;
    flex-direction: column;
    min-height: 70px
}

.com_input_text {
    height: 70px;
    width: 450px;
}

.com_input_submit {
    height: 70px;
}

.attributes {
    display: flex;
    margin: 10px;
    margin-top: 0;
}

.date {
    flex: 3;
}

.likes, .nb_commentaries {
    flex: 1;
    text-align: center;
}

.likes img, .nb_commentaries img {
    height: 20px;
    width: 20px;
    position: relative;
    top: 5px;
}